{% extends 'base.html' %}
{% block body %}
    <!-- wrapper -->
    <div id="wrapper">
        <!--Content -->
        <div class="content">
            <section class="parallax-section" data-scrollax-parent="true" id="sec1">
                <div class="bg par-elem "  data-bg="/static/img/bg/aircon.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay"></div>
                <div class="container">
                    <div class="section-title center-align">
                        <h2><span>About Our Project</span></h2>
                        <div class="breadcrumbs fl-wrap"><a href="#"><span>About</span></a></div>
                        <span class="section-separator"></span>
                    </div>
                </div>
                <div class="header-sec-link">
                    <div class="container"><a href="#sec2" class="custom-scroll-link">Let's Start</a></div>
                </div>
            </section>
            <!-- section end -->
            <section id="sec2">
                <div class="container">
                    <div class="section-title">
                        <h2>Our Team</h2>
                        <div class="section-subtitle">The Team</div>
                        <span class="section-separator"></span>
                        <p>에어컨플러스를 빛낸 개발자들입니다.</p>
                    </div>
                    <div class="team-holder section-team fl-wrap">
                        <!-- team-item -->
                        <div class="team-box">
                            <div class="team-photo">
                                <img src="/static/img/team/myungu.jpg" alt="" class="respimg">
                            </div>
                            <div class="team-info">
                                <h3><a href="#">강명구</a></h3>
                                <h4>Developer</h4>
                                <p> 프로젝트 총괄 책임, DB구성, 모바일 어플리케이션 기능 개발, 통합 테스트</p>

                            </div>
                        </div>
                        <!-- team-item  end-->
                        <!-- team-item -->
                        <div class="team-box">
                            <div class="team-photo">
                                <img src="/static/img/team/sungsu.png" alt="" class="respimg">
                            </div>
                            <div class="team-info">
                                <h3><a href="#">안성수</a></h3>
                                <h4>Developer</h4>
                                <p>자료구조 구상 및 구현, 모바일 어플리케이션 인터페이스 개발시스템 테스트</p>

                            </div>
                        </div>
                        <!-- team-item end  -->
                        <!-- team-item -->
                        <div class="team-box">
                            <div class="team-photo">
                                <img src="/static/img/team/sungchan.jpg" alt="" class="respimg">
                            </div>
                            <div class="team-info">
                                <h3><a href="#">윤성찬</a></h3>
                                <h4>Developer</h4>
                                <p>라즈베리 파이, 아두이노 개발, Flask Web 개발, 단위 테스트</p>

                            </div>
                        </div>
                        <!-- team-item end  -->
                        <!-- team-item -->
                        <div class="team-box">
                            <div class="team-photo">
                                <img src="/static/img/team/sungho.jpg" alt="" class="respimg">
                            </div>
                            <div class="team-info">
                                <h3><a href="#">이성호</a></h3>
                                <h4>Developer</h4>
                                <p>모바일 어플리케이션 기능 개발, 수학적 계산식 수립, 단위테스트</p>
                            </div>
                        </div>
                        <!-- team-item end  -->
                    </div>
                </div>
            </section>
            <!-- section end -->
            <!--section -->
            <section class="parallax-section" data-scrollax-parent="true">
                <div class="bg par-elem "  data-bg="/static/img/bg/aircon.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay co lor-overlay"></div>
                <!--container-->
                <div class="container">
                    <div class="intro-item fl-wrap">
                        <h2>Need more information</h2>
                        <h3> AirCon Plus</h3>
                        <a class="trs-btn" href="contacts.html">Get in Home + </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
{%- endblock body %}