{% extends 'base.html' %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(function(){
            timer = setInterval(function(){
                $.ajax({
                    url:'/refresh',
                    type:'POST',
                    success: function(response){
                        var jsontext = JSON.parse(response);
                        if (jsontext.on == 1){
                            $("#aircon_img").attr("src","/static/img/on.JPG");
                        }
                        else{
                            $("#aircon_img").attr("src","/static/img/off.JPG");
                        }

                        $("#outdoor_hum").text(jsontext.outdoor_hum);
                        $("#outdoor_temp").text(jsontext.outdoor_temp);
                        $("#indoor_hum").text(jsontext.indoor_hum);
                        $("#indoor_temp").text(jsontext.indoor_temp);
                        $("#current_month_price").text(jsontext.current_month_price + '원');
                    },
                    error: function(error){
                        console.log('============')
                        console.log(error);
                    }
                })
            }, 10000);
        })
    </script>
{% endblock script %}
{% block body %}
    <section class="parallax-section" data-scrollax-parent="true" id="sec1">
        <div class="bg par-elem "  data-bg="/static/img/bg/aircon.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="container">
            <div class="section-title center-align">
                {% if current_user == '' %}
                    <h2><span> 로그인해주세요 </span></h2>
                {% else %}
                    <h2><span> AIRCON PLUS </span></h2>
                {% endif %}
                <div class="breadcrumbs fl-wrap"><a href="#"><span>Home</span></a></div>
                <span class="section-separator"></span>
            </div>
        </div>
    </section>
    <div class="cs-wrapper fl-wrap">
        <img id='aircon_img' src="/static/img/off.JPG" height="100" width="30%">
        <h3 class="soon-title">{{ month }} 월의 간략 전기세</h3>
            <!-- countdown -->
            <div class="section-title">
                <h2 id="current_month_price">{{ current_month_price }}원</h2>
            </div>
        <span class="section-separator"></span>
            <div class="countdown fl-wrap">
                <h3 class="soon-title center-header">현재 온도와 습도입니다.</h3>
                <div class="cs-countdown-item">
                    <span class="days rot" id="outdoor_temp">{{ outdoor_temp }}</span>
                    <p>실외기 온도</p>
                </div>
                <div class="cs-countdown-item">
                    <span class="hours rot" id="outdoor_hum">{{ outdoor_hum }}</span>
                    <p>실외기 습도</p>
                </div>
                <div class="cs-countdown-item">
                    <span class="seconds rot2" id="indoor_temp">{{ indoor_temp }}</span>
                    <p>실내 온도</p>
                </div>
                <div class="cs-countdown-item">
                    <span class="seconds rot2" id="indoor_hum">{{ indoor_hum }}</span>
                    <p>실내 습도</p>
                </div>
            </div>

            <span class="section-separator"></span>
            <div class="countdown fl-wrap">
                <h3 class="soon-title">AIRCONPLUS가 추천하는 설정! </h3>
                <!-- countdown -->
                <div class="section-title">
                    <h2>{{ msg }}</h2>
                </div>
            </div>
            <!-- cs-social end -->
        <!-- container end -->
    </div>
{% endblock body %}