{% extends 'base.html' %}
{% block body %}
    <!-- wrapper -->
    <div id="wrapper">
        <!--Content -->
        <div class="content">
            <section class="parallax-section" data-scrollax-parent="true" id="sec1">
                <div class="bg par-elem "  data-bg="/static/img/bg/aircon.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay"></div>
                <div class="container">
                    <div class="section-title center-align">
                        <h2><span>자주 묻는 질문</span></h2>
                        <div class="breadcrumbs fl-wrap"><a href="#"><span>QnA</span></a></div>
                        <span class="section-separator"></span>
                    </div>
                </div>
            </section>
            <!-- section end -->
            <section id="sec2">
                <div class="container">
                    <div class="section-title">
                        <h2>삼성 브랜드입니다.</h2>

                        <a href="/samsung" class="trs-btn">삼성</a>
                        <a href="/samsung" class="trs-btn">위니아</a>
                        <a href="/lg" class="trs-btn">LG</a>

                        <span class="section-separator"></span>
                    </div>

                    <div class="team-holder section-team fl-wrap">
                        <div class="col-md-12">
                            <div class="dashboard-list-box fl-wrap">
                                <div class="dashboard-header fl-wrap">
                                    <h3>QnA</h3>
                                </div>
                                <!-- dashboard-list end-->
                                <div id = "list_name">
                                    <div class="dashboard-list">
                                        <div class="dashboard-message">
                                            <div class="dashboard-listing-table-text">
                                                <h4><a href="listing-single.html">Event In City Hall</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dashboard-list">
                                        <div class="dashboard-message">
                                            <div class="dashboard-listing-table-text">
                                                <h4><a href="listing-single.html">Event In City Hall</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dashboard-list">
                                        <div class="dashboard-message">
                                            <div class="dashboard-listing-table-text">
                                                <h4><a href="listing-single.html">Event In City Hall</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dashboard-list">
                                        <div class="dashboard-message">
                                            <div class="dashboard-listing-table-text">
                                                <h4><a href="listing-single.html">Event In City Hall</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dashboard-list">
                                        <div class="dashboard-message">
                                            <div class="dashboard-listing-table-text">
                                                <h4><a href="listing-single.html">Event In City Hall</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section end -->
            <!--section -->
            <section class="parallax-section" data-scrollax-parent="true">
                <div class="bg par-elem "  data-bg="/static/img/bg/aircon.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay co lor-overlay"></div>
                <!--container-->
                <div class="container">
                    <div class="intro-item fl-wrap">
                        <h2>Need more information</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h3>
                        <a class="trs-btn" href="contacts.html">Get in Home + </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
{%- endblock body %}